body *{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.parallax1{
	background-image: url("../img/home_sketch_image3.jpg");
	min-height: 600px;
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax2{
	background-image: url("../img/home_sketch_image4.jpg");
	min-height: 600px;
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax3{
	background-image: url("../img/home_sketch_image5.jpg");
	min-height: 600px;
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax4{
	background-image: url("../img/home_sketch_image6.jpg");
	min-height: 600px;
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.myPortfolio{
	font-style: oblique;
	font-size: 50px;
	
	left: 0;
	text-align: center;
	width: 100%;
	color: #000;
}
.title span{
	font-size: 40px;
	text-align: center;
	position: relative;
}
.img1{
	width:320px ;
	height:236px;
	margin: 5px;
}
.achive{
	
	
	padding: 20px;
	margin-top: 8px;
	

}
.skills h3{
	
	padding: 20px;
	margin-top: 8px;
	margin-left: 20px;
	color: black;
	font-style: bold;
}
.table{
	padding: 20px;
	margin-top: 8px;
	margin-left: 20px;
	color: black;
}
.dreams{
	position: relative;
}
.contactme{
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	color: black;

}
.aboutus{

	font-size: 20px;
	margin:80px 20px;

}
.blink{
	display: table;
	background-color: black;
	color: white;
	float: right;
	right: 0;
	position: fixed;
	margin-top: 205px;
	 animation:blinkingText 1s infinite;

}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: white; }
    50%{    color: blue; }
    99%{    color:yellow;  }
    100%{   color: #000;    }
}
